.form-class{
    margin-top: 60px;
    margin-left: 400px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #E0FAF8;
}

#buttonadd{
    margin-left: 500px;
    color: blue;
    background-color: #37F688;
}
#buttonver{
    color: blue;
    background-color: #E9FD53;
}